/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.table {
  font-size: 2em;
}

.container.search {
  text-align: center;
}

h1 {
  text-align: center;
}

.btn.cart {
  float: right;
  padding: 1em;
}

div.container td {
  font-size: 20em;
}

input#user_id {
  width: 25%;
}